@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
  font-family: sans-serif, 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;

  --header-height: 7.5vh;
  --game-height: calc(100vh - var(--header-height));
  --game-max-width: 40em;
  --game-max-height: 90vh;
  --color-tone-1: #ffffff;
  --color-tone-2: #818384;
  --color-tone-3: #565758;
  --color-tone-4: #3a2b44;
  --main-color: #201d29;

  --key-text-color: var(--color-tone-1);
  --key-bg: var(--color-tone-2);
}

html {
  font-size: 100%;
  box-sizing: border-box;
  min-height: 100svh;
  max-height: 100svh;
}


body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
  color: var(--color-tone-1);
}

p {
  text-align: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3{
  margin: 0.3em;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.navButton {
  top: 1em;
  left: 1em;
  background-color: var(--main-color);
  width:2.2em;
  font-weight: bold;
  cursor: pointer;
}

.navButton:hover,
.navButton:focus {
  opacity: 0.75;
  cursor: pointer;
}



nav.flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0 5vw;
  height: var(--header-height);
  color: var(--color-tone-1);
  border-bottom: 0.1em solid var(--color-tone-4);
}


#game {
  width: 100%;
    max-width: var(--game-max-width);
    margin: 0 auto;
    height: var(--game-height);
    display: flex;
    flex-direction: column;
}

#board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

#board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);  
  grid-gap: 0.7em;
  padding: 1em;
  box-sizing: border-box;
}

.tile {
  width: 8svh;
  height: 8svh;
  outline-style: solid;
  outline-color: var(--color-tone-3);
  outline-width: 0.05em;

  font-size: 2rem;
  font-weight: bold;
  color: var(--color-tone-1);
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 440px) {
  .tile {
    width: 15vw;
    height: 15vw;
  }
}
@media screen and (max-width: 380px) {
  .tile {
    font-size: 1.5rem;
  }
}

#key-container {
  height: 30%;
  margin: 1em;
}

.key-row{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto 0.4em;
  touch-action: manipulation;
}

.key-row button{
    display: flex;
    flex: 1;
    flex-grow: 1;
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    margin: 0 0.4em 0 0;
    height: 5em;
    border-radius: 0.25em;
    cursor: pointer;
    user-select: none;
    background-color: var(--key-bg);
    color: var(--key-text-color);
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0.3);
    text-transform: uppercase;
}

.key-row button.larger {
  flex: 1.5;
}

.example-tiles {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 0.5em;
}

.flip-tile {
  animation-name: flip;
  animation-duration: 1s;
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  20% {
    transform: rotateX(90deg);
  }
  40% {
    transform: rotateX(0deg);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

/* The Modal (background) */
#statsModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 7.5%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  max-width: 100svw;
}

/* The Modal (background) */
#infoModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 7.5%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  max-width: 100svw;
}


/* The Close Button */
.close {
  color: rgb(246, 246, 246);
  float: right;
  font-size: 3em;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(168, 168, 168);
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
.modal-header {
  padding: 0.25em 1em;
  background-color: var(--main-color);
  color: white;
  border-radius: 1em;
}

/* Modal Body */
.modal-body {padding: 0.25em 1em;}


/* Modal Footer */
.modal-footer {
  padding: 0.25em 1em;
  background-color: var(--main-color);
  color: white;
  border-radius: 1em;
  text-align: center;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: var(--main-color);
  margin: auto;
  padding: 0;
  width: 27em;
  box-shadow: 0 0.25em 0.5em 0 rgba(0,0,0,0.2),0 0.25em 0.5em 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.2s;
  border-radius: 0.5em;
}
@media screen and (max-width: 440px) {
  .modal-content {width: 98svw;}
}

/* The Toast (background) */
.toast {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 7.5%;
  width: 100%; /* Full width */
  overflow: auto; /* Enable scroll if needed */
}

/* Toast Content */
.toast-content {
  position: relative;
  background-color: rgb(204, 204, 204);
  margin: auto;
  padding: 0;
  border: 0.25em solid rgb(197, 197, 197);
  border-radius: 1em;
  height: 4em;
  width: 10em;

  animation-name: animateToast;
  animation-duration: 5s
}

/* toast body */
.toast-body {
  padding: 0.1em 0.1em;
  color:rgba(0, 0, 0, 0.5);
  text-align:center;
}

/* Modal animation */
@keyframes animatetop {
  from {top: -5vh; opacity: 0}
  to {top: 0; opacity: 1}
}

/* Modal animation */
@keyframes animateToast {
  0% {top: -30vh; opacity: 0}
  10% {top: 0; opacity: 1}
  100% {top: -30vh; opacity: 0}
}

svg {
  background: rgb(166, 166, 166);
  transform: translateY(0.75em);
  margin: 0.15em;
}
text {
  bottom: 5em;
}

#shareButton {
  display: none;
  align-self: center;
  background-color: var(--color-tone-1);
  border-radius: 0.5em;
  margin: 0.5em 0;
  padding: 0.1em;
  border: none;
  width:5em;
  height: 2.3em;
  font-weight: bold;
  font-size:1.75em;
  cursor: pointer;
}

#shareButton:hover{
  opacity: 0.75;
  cursor: pointer;
}

.shareImage {
  margin: 0 1em;
  border: none;
  width:1em;
  font-weight: bold;
  cursor: pointer;
}