@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
  --green: #6aaa64;
  --darkendGreen: #538d4e;
  --yellow: #c9b458;
  --darkendYellow: #b59f3b;
  --lightGray: #d8d8d8;
  --gray: #86888a;
  --darkGray: #939598;
  --white: #fff;
  --black: #212121;
  --orange: #f5793a;
  --blue: #85c0f9;

  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;

  --header-height: 5vh;
  --keyboard-height: 200px;
  --game-max-width: 30em;
  --game-max-height: 90vh;
  --color-tone-1: #ffffff;
  --color-tone-2: #818384;
  --color-tone-3: #565758;
  --color-tone-4: #3a3a3c;
  --color-tone-5: #272729;
  --color-tone-6: #1a1a1b;
  --color-tone-7: #121213;
  --color-nav-hover: #2f2f31;
  --opacity-50: rgba(0, 0, 0, 0.5);

  --color-present: var(--darkendYellow);
  --color-correct: var(--darkendGreen);
  --color-absent: var(--color-tone-4);
  --tile-text-color: var(--color-tone-1);
  --key-text-color: var(--color-tone-1);
  --key-evaluated-text-color: var(--color-tone-1);
  --key-bg: var(--color-tone-2);
  --key-bg-present: var(--color-present);
  --key-bg-correct: var(--color-correct);
  --key-bg-absent: var(--color-absent);
  --modal-content-bg: var(--color-tone-7);
}

html {
  font-size: 100%;
  box-sizing: border-box;
  min-height: 100vh;
}


body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: var(--color-tone-7);
  color: var(--color-tone-1);
}

p {
  text-align: center;
}

h2 {
  text-align: center;
}

*, *::before, *::after {
  box-sizing: inherit;
}

nav {
  padding: 10px;
  
  @media (min-width: 600px){
      padding: 20px;
  }
}

nav.flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0 16px;
  height: var(--header-height);
  color: var(--color-tone-1);
  border-bottom: 1px solid var(--color-tone-4);
}

#game {
  width: 100%;
    max-width: var(--game-max-width);
    margin: 0 auto;
    height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
}

#board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

#board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);  
  grid-gap: 0.5em;
  padding: 1em;
  box-sizing: border-box;
}

.tile {
  width: 60px;
  height: 60px;

  outline-style: solid;
  outline-color: var(--color-tone-5);
  outline-width: 2px;

  font-size: 2.75rem;
  font-weight: bold;
  color: var(--color-tone-1);
  text-transform: uppercase;

  min-width: 30px;
  min-height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#key-container {
  height: 30%;
  margin: 3px;
}

.key-row{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}

.key-row button{
    display: flex;
    flex: 1;
    flex-grow: 1;
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    margin: 0 6px 0 0;
    height: 5em;
    border-radius: 0.25em;
    cursor: pointer;
    user-select: none;
    background-color: var(--key-bg);
    color: var(--key-text-color);
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0.3);
    text-transform: uppercase;
}

.key-row button.larger {
  flex: 1.5;
}

.example-tiles {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 0.5em;
}

#stats:hover,
#stats:focus {
  color: rgb(168, 168, 168);
  text-decoration: none;
  cursor: pointer;
}

#info:hover,
#info:focus {
  color: rgb(168, 168, 168);
  text-decoration: none;
  cursor: pointer;
}

/* The Modal (background) */
#statsModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 5%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Modal (background) */
#infoModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 5%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* The Close Button */
.close {
  color: rgb(246, 246, 246);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(168, 168, 168);
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: var(--color-tone-6);
  color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: var(--color-tone-6);
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: var(--color-tone-6);
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 75%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* The Toast (background) */
.toast {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 5%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Toast Content */
.toast-content {
  position: relative;
  background-color: rgb(204, 204, 204);
  margin: auto;
  padding: 0;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 25px;
  height: 10%;
  width: 30%;

  animation-name: animatetop;
  animation-duration: 0.4s
}

/* toast body */
.toast-body {
  padding: 2px 16px;
  color:rgba(0, 0, 0, 0.5);
  text-align:center;
}

/* Modal animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* Toast animation */
@keyframes animatefade {
  from {top: -300px; opacity: 1}
  to {top: 0; opacity: 0}
}